.episodiosMateriais {
    width: 100%;
    height: 100%!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    margin-bottom: 80px;
}

#divEpisodio {
    width: 25%;
    height: auto !important;    
    display: flex!important;
}

#divEpisodio h6 {
    font-size: 16px;
    line-height: 17.92px;
    font-family:"aktiv-grotesk-extended";
    color: #068E87;
}

.textoEpisodios {
    width: 80%;
    height: auto;
    padding: 0 2%;
}

.textoEpisodios a {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    font-family:"Lato", sans-serif;
    color: #068E87;
}

.textoEpisodios h6 {
    width: 70%;
    font-size: 20px;
    font-family:"aktiv-grotesk-extended";
    line-height: 25.6px;
    color: #FFF;
    margin-bottom: 10px;
}

.textoEpisodios p {
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato",sans-serif;
    color: #FFF;
    line-height: 26px;
}
