.MuiTab-textColorInherit {
    color: #F2F5F0!important;
    font-weight: 700!important;
    font-size: 12px!important;
    font-family:"aktiv-grotesk-extended"!important;
    text-transform: capitalize!important;   
    text-align: left!important; 
}

.MuiTabs-flexContainer {
    width: 96%!important;
    padding: 0 4%!important;
}

.MuiTabs-indicator {
    background-color: transparent!important;
}

.MuiTab-root {
    margin: 0 5px!important;
    border-radius: 8px!important;  
    height: 30px!important; 
    width: auto!important;
}

@media(max-width: 991px) {
    .MuiTab-textColorInherit {
        font-size: 12px!important;
    }
    .MuiTab-root {
        width: 30%!important;
    }
}

.MuiTab-root[aria-selected='false'] {    
    background-color: transparent!important;
    background-color: transparent!important;
}

.MuiTab-root[aria-selected='true'] {    
    background-color: #133A3B!important;
    border-color: transparent!important;
}

.MuiTabs-flexContainer {
    width: 100%!important;
}

.MuiButtonBase-root span {
    width: 100%!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
}
