#leiaTambem {
    width: 96%!important;
    height: auto;
    margin: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leiaTambem {
    width: 98%!important;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    margin: 0 5px;
    padding: 5%;
    border: 1px solid transparent;
    border-radius: 8px;
}

.leiaTambem:hover {
    cursor: pointer;
}

@media(max-width: 580px) {
    .leiaTambem {
        width: 300px;
        height: 180px;
    }
}

.leiaTambemCol01 {
    width: 98%;
    height: auto;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.leiaTambemImagem {
    width: 30%;
    margin: 0 10px;
    height: auto;
}

.leiaTambemImagem img {
    width: 30px!important;
    height: 30px!important;
}

.leiaTambemDados {
    width: 90%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.leiaTambemDados p{
    width: 100%;
    font-size: 12px!important;
    font-weight: 400;
    font-family:"Lato",sans-serif;
    color: #068E87;
}

.leiaTambemDados h5{
    width: 100%;
    font-size: 1em;
    font-family:"aktiv-grotesk-extended";
    color: #133A3B;
}

.leiaTambemDados h6{
    width: 100%;
    font-size: 14px!important;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Lato', sans-serif; 
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    color: #133A3B;
}

.leiaTambemOpcoes{
    width: 100%;
    height: 25px;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leiaTambemOpcao {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leiaTambemOpcao h6 {
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    font-size: 12px!important;
    color: #068E87;
    margin: 0 6px;
}

.leiaTambemOpcao img {
    width: 15px;
    height: auto;
}

.leiaTambemFoto {
    width: 100%;
    height: auto;
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.leiaTambemFoto h6 {
    color: #133A3B;
    margin-top: 10px;
}

.leiaTambemFoto img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.leiaTambemDados {
    width: 100%;
    height: auto;
}

 #leiaTambem .rec-arrow-left {
  color: #000!important;
  background: linear-gradient( to left,
    rgba(16,48,48, 0) 0%,
    rgba(16,48,48, 0) 0%,
    rgba(16,48,48, 0.1) 100%)!important; 
}

#leiaTambem .rec-arrow-right {   
    background: linear-gradient( to right,
    rgba(16,48,48, 0) 0%,
    rgba(16,48,48, 0) 0%,
    rgba(16,48,48, 0.1) 100%)!important;
  color: #000!important;
} 
