.gd-you-watching-episode-container {
  width: 100%;
  height: auto;
}

.gd-you-watching-episode {
  width: 100%;
  height: auto;
  background-color: var(--preto-guide);
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.gd-you-watching-episode-box {
  width: 100%;
  max-width: 1220px;
  margin-bottom: 20px;
}

.gd-swiper-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.gd-swiper-super-title {
  color: var(--branco-guide);
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.gd-title-pagination-swipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.gd-you-watching-episode-swiper-pagination {
  position: initial;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: space-between;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 2px;
  display: flex;
  border-radius: 0;
  background-color: var(--verde-guide);
  opacity: 0.32;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.gd-pagination-swipe-tilte {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: var(--branco-guide);
}

.gd-you-watching-episode-swiper-slide {
  width: 100%;
  height: auto;
}

.gd-you-watching-episode-swiper-slide img {
  width: 100%;
  height: auto;
}

.gd-you-watching-episode-button-prev {
  left: 0;
  background: linear-gradient(
    90deg,
    var(--preto-guide) 0%,
    rgba(16, 48, 48, 0) 100%
  );
}

.gd-you-watching-episode-button-next {
  right: 0;
  background: linear-gradient(
    270deg,
    var(--preto-guide) 0%,
    rgba(16, 48, 48, 0) 100%
  );
}

.gd-you-watching-episode-button-prev,
.gd-you-watching-episode-button-next {
  position: absolute;
  top: initial;
  bottom: 5px;
  width: 90px;
  height: 182px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--branco-guide);
}

@media (max-width: 768px) {
  .gd-you-watching-episode-button-prev,
  .gd-you-watching-episode-button-next,
  .gd-you-watching-episode-swiper-pagination {
    visibility: hidden;
  }
}

.swiper-button-disabled {
  visibility: hidden;
}

.gd-you-watching-episode-swiper-slide img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gd-you-watching-espisode-card-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
