.gd-playlist-sugest {
  width: 100%;
  height: auto;
  background-color: var(--preto-guide);
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .gd-playlist-sugest {
    padding-left: 15px;
  }
}

.gd-playlist-sugest-box {
  width: 100%;
  max-width: 1220px;
  margin-bottom: 20px;
}
