.footerHomeEducacional {
    width: 98%;
    height: auto;
    padding: 2% 0 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #103030;
}

.footer01, .footer02 {
    width: 98%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerColunaLogo {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0
}

.footerColuna {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 3%;
}


.footerColunaApp {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.footerColuna img {
    width: 28px;
    height: auto;
    margin: 0 8px;
} 

.footerColunaApp img {
    width: 135px;
    height: auto;
    margin: 0 8px;
} 

.footerColunaLogo img {
    width: 250px;
    height: auto;
    margin: 0 8px;
}

.footerColuna01 {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

.footerColuna02 {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1%;
}

.footerColuna01 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    font-family: "Lato", sans-serif;
    color: #F2F5F0;
}

.footerColuna02 p {
    width: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    font-family: "Lato", sans-serif;
    color: #F2F5F0;
}

.FooterCol01, .FooterCol02 {
    width: auto;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-right: 16px;
}

.FooterCol01 a, .FooterCol02 a {
    color: #F2F5F0;
}

@media(max-width: 991px) {
    .footerColuna01, .footerColuna02, .footerColuna, .footerColunaLogo, .footer01, .footer02 {
        flex-wrap: wrap;
    } 
    .footerColuna01, .footerColuna02, .footerColunaApp, .footerColuna, .footerColunaLogo, .footer01, .footer02 {
        height: 100%;
        margin: 2% 0;
        justify-content: center;
    }
    .footerColuna02 p {
        width: auto;
        margin: 10px;
    }
    .footerColuna01 {
        order: 2;
    }
    .footerColuna02 {        
        width: 80%;
        order: 1;
        align-items: flex-end;
    }
    .FooterCol01 {
        width: auto;
        justify-content: flex-end;
    }
    .FooterCol02 {
        width: auto;
        justify-content: flex-start;
    }

}