#headerHomeEducacionaEpsodio {
    width: 90%;
    height: 400px;
    padding: 2% 4%!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: linear-gradient( 180deg,
    rgba(0,0,0, 1),
    rgba(0,0,0, 0.2),
    rgba(0,0,0, 1)
  ),url('../../../../imagens/Home/HomeEducacional/offset_comp_218310.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

@media(max-width: 991px) {
    #headerHomeEducacionaEpsodio {
        height: 600px!important;
    }
}

@media(max-width: 991px) {
    #div-avaliacaoEpsodio h5 {
        margin-bottom: 10px;
    }
    #div-avaliacaoEpsodio {
        width: 100%"important";
        height: auto!important;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    #header-tempoEpsodio {
        width: 100%!important;
        display: flex;
        justify-content: flex-start!important;
        margin-top: 10px;
    }
}

#headerHomeEducacionaEpsodio h1 {
    color: #FFF;
    font-size: 34px;
    line-height: 38px;
    font-weight: 700;
    font-family:"aktiv-grotesk-extended";
}

#headerHomeEducacionaEpsodio h5 {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.2px;
    margin-right: 10px;
    font-family:"aktiv-grotesk-extended";
}

#headerHomeEducacionaEpsodio h3 {
    width: 70%;
    font-weight: 400;
    font-size: 18px;
    font-family: "Lato",sans-serif;
    line-height: 28px;
    color: #FFF;
}

#botaoVoltarHeader {
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

#botaoVoltarHeader img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#botaoVoltarHeader {
    font-family:"aktiv-grotesk-extended";
    font-size: 16px;
    line-height: 16.4px;
    color: #068E87;
    text-decoration: none;
}

#header-tempoEpsodio {
    width: 45%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#header-tempoEpsodio span {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.8px;
    color: #FFF;
    margin: 0 8px;
    font-family: 'Lato', sans-serif;
}

#header-tempoEpsodio img {
    width: 20px!important;
    height: 20px!important;
}

#div-avaliacaoEpsodio {
    width: 70%!important;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#div-avaliacaoEpsodio img {
    width: 14px!important;
    height: 14px!important;
    margin: 0 2px;
}

#div-avaliacaoEpsodio .imgEstrela {
    width: 14px!important;
    height: 14px!important;
}
