#homeEducacional {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #000;
}

#homeEducacionalPagina {
    width: 100%;
    flex: 1;
    background-color: #000;
}

.playListEpisodios {
    padding: 1% 2% 1% 0.5%;
    background-color: #103030;
}

#playListEpisodios02 {
    padding: 0 3%;    
}

.playListEpisodios h4 {
    font-size: 22px;
    font-family:"aktiv-grotesk-extended";
    line-height: 25.6px;
    color: #FFF;    
}

#playListEpisodios01 h4 {
    margin-left: 4%;
}

#playListEpisodios02 h4 {
    margin-left: 2%;
}

.playListEpisodios .rec-arrow-left {
    background: linear-gradient( to left,
    rgba(16,48,48, 0) 0%,
    rgba(16,48,48, 0) 0%,
    rgba(16,48,48, 0.2) 100%)!important; 
    color: #000!important;
}

.playListEpisodios .rec-arrow-right {   
    background: linear-gradient( to right,
    rgba(16,48,48, 0) 0%,
    rgba(16,48,48, 0) 0%,
    rgba(16,48,48, 0.2) 100%)!important;
    color: #000!important;
} 