#homeEducacional {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #000;
}

#homeEducacionalPagina {
    width: 100%;
    flex: 1;
    background-color: #000;
}