.gd-container {
  display: grid;
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-columns: 45px auto;
  grid-template-areas:
    "nav header"
    "nav content";
  position: relative;
}

.gd-nav {
  grid-area: nav;
  background-color: var(--cinza-guide);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gd-header {
  grid-area: header;
  background-color: var(--cinza-fundos);
  display: flex;
  justify-content: space-between;
}

.gd-content {
  grid-area: content;
  background-color: var(--branco-guide);
  overflow: auto;
}

article {
  height: 1000px;
}
