
.menuTopoDados {
    width: 0!important;
    height: 100vh!important;
    background-color: #000!important;
    padding-bottom: 20px!important;   
    display: flex;
    flex-direction: column;
    align-items: center;      
    overflow-y: hidden;
    overflow-x: hidden;
}

.DivOpcoes {
    width: 98%;
    height: 100vh;
    left: 0!important;
    z-index:250;    
}

@media(max-width: 991px) {
    .DivOpcoes {
        width: 90%;
    }
}

.menuAtiva {
    width: 255px!important;
    height: 100vh!important;
    background-color: #000!important;
    margin-top: 60px;
    padding: 0!important;
    z-index: 500!important; 
    top: 0px!important;
    right: 0!important;     
}

@media(max-width: 991px) {
    .menuAtiva {
        width: 100%!important;
        height: 100vh!important;
        position: fixed!important;
        left: 0;
        top: 0!important;
        background-color: #000!important;
        z-index: 20;
    }
}

.div-topo-opcao {
    width: 225px!important;
    height: 100vh!important;
    z-index: 0;
    padding: 5px 0!important;
    display: none; 
    position: relative;    
    background-color: #000; 
    right: 0!important; 
    top: 0!important;
}

@media(max-width: 991px) {
    .div-topo-opcao {
        height: 100%!important;
        padding-bottom: 50px;
    }
}

.div-topo-opcao.opcaoAtiva {
    width: 225px!important;
    height: 100vh!important;
    display: inline-block; 
    position: relative;
    top: 0!important;
    right: 0!important;
    background-color: #000;
    z-index: 380;    
}

@media(max-width: 991px) {
    .div-topo-opcao.opcaoAtiva {
        width: 100%!important;
        height: 80vh!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 300;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.opcaoAtiva a {
    color: #FFF;
    text-decoration: none;
    z-index: 30;
}

@media(max-width: 991px) {
    .opcaoAtiva a {
        color: #FFF!important;
    }
}

.linhaDados {
    width: 100%!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #133A3B;

}

@media(max-width: 991px) {
    .linhaDados {
        height: 44px; 
        padding: 5px;
        z-index: 30;       
    }
}

.textoLink {
    width: auto!important;
    padding: 0 10px;
}

.centralizarTexto {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.centralizarTexto img {
    width: 14px;
    height: 14px;
    margin: 0 4px;
}

.botaoNoticias {
    width: 100%!important;
    height: auto;
    margin: 0;
    padding: 5px 0;
    border: 1px solid #068E87;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"aktiv-grotesk-extended";
}

@media(max-width: 991px) {
    .botaoNoticias {
        width: 98%!important;
        z-index: 30;
        margin: 0!important
    }
}

.botaoNoticias a {
    font-size: 14px;
    font-family:"aktiv-grotesk-extended";
    Line-height: 20.48px;
}

.botaoNoticias img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.textoLink h4 {
    width: 100%!important;
    color: #068E87!important;
    font-family:"aktiv-grotesk-extended";
    font-size: 16px!important;
    padding: 10px 3%!important;
}

.textoLink h5 {
    width: 100%!important;
    color: #FFF!important;
    font-family:"Lato", sans-serif;
    font-size: 14px!important;
    font-weight: 400;
    line-height: 20px!important; 
    padding: 4px 3%!important;
}

.textoLink h6 {
    width: 100%!important;
    color: #FFF!important;
    font-weight: 400;
    font-size: 14px!important;
    margin-top: 5px;
    font-family: "Lato", sans-serif;
    padding: 2px 3%!important;
}

@media(max-width: 991px) {
    .textoLink h4, .textoLink h5, .textoLink h6 {
        width: 98%!important;
        padding: 4px 0!important;
    }
}

#botao-opcoes a {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#botao-opcoes a img {
    width: 18px!important;
    height: auto;
    margin-right: 14px;
}

#botao-opcoes a h5 {
    color: #FFF!important;
    text-transform: uppercase;
    font-size: 0.8em;
}

#botao-opcoes {
    width: 220px!important;
    height: 60px;
    padding: 0 20px;
    display: flex!important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #0d2626;
    position: fixed!important;
    right: 0!important;
    top: 0!important;
    font-family: "aktiv-grotesk-extended";
    z-index: 280;
}

#botao-opcoes2 a {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#botao-opcoes2 a img {
    width: 18px!important;
    height: auto;
    margin-right: 14px;
}

#botao-opcoes2 a h5 {
    color: #FFF!important;
    text-transform: uppercase;
    font-size: 0.8em;
}

#botao-opcoes2 {
    width: 100%!important;
    height: 50px!important;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
    position: fixed!important;
    top: 0!important;
    font-family: "aktiv-grotesk-extended";
    margin-bottom: 50px;
    z-index: 350;
    display: none;
}

@media(max-width: 991px) {
    #botao-opcoes2 {
        display: flex;        
    }
}

@media(max-width: 768px) {
    #botao-opcoes {
        width: 5px!important;
    }
    #botao-opcoes img {
        margin-left: -10px;
    }
    #botao-opcoes h5 {
        display: none;
    }
}

.divTopo {
    width: auto!important;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end!important;
    align-items: center;
    top: 0;
    right: 280px!important;
    position: fixed;
    background-color: #103030;
    z-index: 250;
}

@media(max-width: 991px) {
    .divTopo {
        right: 270px!important;
    }
}

@media(max-width: 768px) {
    .divTopo {
        right: 50px!important;
    }
}

@media(max-width: 350px) {
    .divTopo {
        right: 20px!important;
    }
}

.divTopo a img, .divTopo a h4 {
    width: 20px!important;
    height: 20px!important;
    margin: 0 20px!important;    
}

.divTopo a h4 {
    background-repeat: no-repeat!important;
    background-position-x: center;
    background-position-y: center;
    font-size: 0;
}

@media(max-width: 991px) {
    .divTopo a img {
        display: none;
    }
}

.divTopo input, .divTopo input:focus {
    height: 38px;
    width: 250px;
    outline: 0;
    border: 0 none;    
    padding: 0 10px;
    position: relative!important;
}

@media(max-width: 991px) {
    .divTopo input {
        width: 170px!important;
    }
}

@media(max-width: 768px) {
    .divTopo input {
        width: 150px!important;
    }
}

@media(max-width: 480px) {
    .divTopo input {
        width: 150px!important;
    }
}

@media(max-width: 380px) {
    .divTopo input {
        width: 120px!important;
    }
}

@media(max-width: 350px) {
    .divTopo input {
        width: 90px!important;
    }
}

.divTopo input, .divTopo input::placeholder {
    color: #133A3B;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: transparent;
}

.alinhaInput {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row!important;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 3px;
    display: none;
    position: relative;
}

@media(max-width: 991px) {
    .alinhaInput {
        display: none!important;
    }
    .iconBusca {
        display: flex!important;               
    }
}

.alinhaInput.buscarAtivo {
    display: block;
    display: flex;
    flex-direction: row!important;
    justify-content: space-between;
    align-items: center;
}

.alinhaLupa {
    display: block!important;
}

.lupaAtivo {
    display: none!important;
}

.alinhaInputAtivo.buscarAtivo  .iconBusca {
    display: block;
}

.contadorSino {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media(max-width: 991px) {
    .contadorSino {
        display: none;
    }
}

.contador {
    width: 3px!important;
    height: 3px!important;
    padding: 5px!important;
    font-size: 10px;
    font-weight: 700;
    font-family:"aktiv-grotesk-extended";
    line-height: 12.24px;
    position: absolute!important;
    left: 35px;
    top: -7px;
    z-index: 20!important;
    border: 1px solid #C96E2B;
    border-top-left-radius: 50%!important;
    border-top-right-radius: 50%!important;
    border-bottom-left-radius: 50%!important;
    border-bottom-right-radius: 50%!important;
    background-color: #C96E2B;
    color: #FFF;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.contarNotificacoes01 {
    width: 12px;
    height: 12px;
    padding: 2px;
    font-size: 8px;
    font-family:"aktiv-grotesk-extended";
    background-color: #DF9D73;
    border-radius: 8px;
    color: #FFF;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    position: absolute;
    right: 10px;
    top: -2px;
    display: none;
}

.contarNotificacoes012 {
    width: 12px;
    height: 12px;
    padding: 2px;
    font-size: 8px;
    font-family:"aktiv-grotesk-extended";
    background-color: #DF9D73;
    border-radius: 8px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 1px;
    display: none;
}

@media(max-width: 991px) {
    .contador {
        display: none;
    }
    .contarNotificacoes01 {
        display: block;
        z-index: 400;        
    }
    .contarNotificacoes012 {
        display: block;
        z-index: 400;        
    }
}

.selectNoticias {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    width: auto;
    margin: 2px 20px;
    background: #000;
    background-repeat: no-repeat!important;
    color: #FFF;
    box-shadow: 0 0 0 0!important;
    outline: 0!important;
    border: 0!important;
    font-size: 18px;
    font-weight: 500;
}
