#conteudo03 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3% 0;
}

#titulo-playList {
    width: 95%;
    height: auto;
}

#titulo-playList h2 {
    color: #FFF;
    font-size: 1.5em;
    font-family:"aktiv-grotesk";
}

#titulo-playList h5 {
    color: #FFF;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 0;
    font-family:"aktiv-grotesk";
}

@media(max-width: 991px) {
    #titulo-playList {
        text-align: center;
    }
}
