#conteudo06 {
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F2F5F0;
    padding: 50px 2% 20px 2%!important;
}

#titulo06 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#titulo06 a {
    width: 200px;
    height: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo06 a h6 {
    font-size: 16px;
    line-height: 14px;
    color: #C96E2B;
    font-family:"aktiv-grotesk-extended";
    font-weight: bold;
    line-height: 12px;
    text-align: left;
    vertical-align: top;
}

#titulo06 a img {
    width: 8px;
    height: auto;
    margin: 0 10px;
}

#titulo06 h2 {
    width: 100%;
    color: #133A3B;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
    margin: 30px 0 30px 8%;
    font-weight: bold;
    font-family:"aktiv-grotesk-extended";
}

@media(max-width: 991px) {
    #titulo06 h2 { 
        margin: 30px 0 15px 8%;
    }
}

#titulo06 h5 {
    color: #F2F5F0;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 0;
}

@media(max-width: 991px) {
    #titulo06 {
        text-align: left;
    }
}

@media(max-width: 991px) {
    #titulo06  {
        text-align: left;
    }
    #titulo06 {
        position: relative;
        left: 0%;
    }
    #titulo06 h2 {
        position: relative;
        left: 0%;
    }
}