.gd-fique-atualizado-container {
	width: 0;
	height: 100%;
	position: absolute;
	background-color: var(--preto-guide);
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	z-index: 3;
	transition: width 0.5s;
	overflow-x: hidden;
}

.gd-close-fique-atualizado-icon {
	width: 240px;
	height: 60px;
	min-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: sticky;
	top: 0;
	background-color: var(--preto-guide);
}

.gd-close-fique-atualizado-icon img {
	transform: rotate(-180deg);
}

.gd-feed-telegram {
	width: 200px;
	height: 40px;
	min-height: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid var(--verde-guide);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.gd-feed-telegram-title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--branco-guide);
}

.gd-feed-telegram-title img {
	margin-left: 5px;
}

.gd-feed {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

.gd-feed::after {
	content: "";
	width: 200px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	margin-top: 20px;
}

.gd-feed-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: var(--vermelho-guide);
}

.gd-feed-paragraph {
	width: 100%;
	height: 51px;
	overflow: hidden;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: var(--branco-guide);
	margin-top: 5px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.gd-feed-update {
	color: var(--branco-guide);
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	margin-top: 15px;
}
