.gd-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 45px 1fr 240px;
  grid-template-rows: 100vh;
  grid-template-areas:
    "menu main sidebar"
    "menu main sidebar";
  overflow: hidden;
}

.gd-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: var(--cinza-fundos);
  grid-area: header;
}

.gd-navigation {
  grid-area: menu;
  background-color: var(--cinza-fundos);
}

.gd-center {
  width: 100%;
  height: 100%;
  grid-area: main;
}

.gd-fique-ligado {
  grid-area: sidebar;
  background-color: var(--preto-guide);
}
