.gd-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .gd-container {
    justify-content: flex-start;
  }
}

.gd-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: var(--cinza-guide);
  grid-area: header;
}
.gd-navigation {
  width: 45px;
  height: 100%;
  background-color: var(--cinza-fundos);;
}

@media (max-width: 768px) {
  .gd-navigation {
    display: none;
  }
}

.gd-center {
  width: 100%;
  height: 100%;
  grid-area: main;
}


.gd-fique-ligado {
  width: 240px;
  height: 100%;
  background: var(--preto-guide);
}

@media (max-width: 768px) {
  .gd-fique-ligado {
    display: none;
  }
}

.gd-center {
  width: calc(100% - 285px);
  height: 100%;
  background: var(--cinza-claro-guide);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .gd-center {
    width: 100%;
  }
}