.gd-group-left,
.gd-group-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gd-burger-menu-mobile {
	display: none;
}

.gd-logo-header {
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	padding-right: 25px;
	margin-right: 25px;
	margin-left: 25px;
	z-index: 4;
}

.gd-logo-header a {
	display: flex;
}

.gd-data {
	font-weight: 400;
	font-size: 8px;
	text-transform: uppercase;
	line-height: 10px;
	color: var(--branco-guide);
}

.gd-ola {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: var(--branco-guide);
}

.gd-fique-ligado {
	width: 240px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	margin-left: 25px;
	cursor: pointer;
}

.gd-fique-ligado-title {
	color: var(--branco-guide);
	font-weight: bold;
	font-size: 10px;
	line-height: 13px;
	letter-spacing: 1.23px;
	text-transform: uppercase;
	margin-left: 15px;
}

.gd-nav-header {
	display: flex;
	justify-content: space-between;
}

.gd-nav-header a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gd-notication-icon {
	position: relative;
}

.gd-notificacion-quant {
	position: absolute;
	top: 2px;
	right: 2px;
	background-color: var(--vermelho-guide);
	color: var(--branco-guide);
	border-radius: 100%;
	font-weight: bold;
	font-size: 8px;
	line-height: 10px;
	width: 13px;
	height: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gd-notication-icon img {
	animation: shake 4s cubic-bezier(0.895, 0.03, 0.685, 0.22) 4;
}

.gd-research-menu-container-mobile {
	display: none;
}

@media (max-width: 1024px) {
	.gd-research-menu-container-mobile {
		width: 100%;
		display: flex;
		text-align: left;
	}

	.gd-research-menu-container-mobile .gd-research-menu-icon {
		width: 100%;
		justify-content: space-between;
	}

	.gd-logo-header {
		border-right: none;
		padding-right: 0;
		margin-right: 0;
		margin-left: 0;
		z-index: 4;
	}

	.gd-logo-header a img {
		width: 100%;
		height: auto;
	}

	.gd-burger-menu-mobile {
		display: flex;
	}

	.gd-header {
		height: 55px;
	}

	.gd-fique-ligado {
		width: 50px;
	}

	.gd-welcome,
	.gd-header .gd-fique-ligado-title {
		display: none;
	}
	.gd-logo-header {
		border: none;
	}

	.gd-nav-header a:nth-child(2),
	.gd-nav-header a:nth-child(3),
	.gd-nav-header a:nth-child(4) {
		display: none;
	}
}
