.gd-header-left,
.gd-header-right,
.gd-header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gd-header-logo {
  width: 245px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gd-header-logo::after {
  content: "";
  width: 1px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 27px;
}

.gd-header-hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 26px;
}

.gd-header-hello-date {
  font-family: var(--ff-aktiv);
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: var(--branco-guide);
  text-transform: uppercase;
  margin-bottom: 3px;
}

.gd-header-hello-use {
  font-family: var(--ff-aktiv);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--branco-guide);
}

.gd-header-icons div:not(:last-of-type) {
  margin-right: 24px;
}

.gd-header-icons div {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gd-header-icons-notification {
  position: relative;
}

.gd-header-icons-notification-badge {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: var(--vermelho-guide);
  border-radius: 100%;
  font-family: var(--ff-aktiv);
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  color: var(--branco-guide);
}

.gd-header-fique-atualizado-button {
  width: 188px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 25px;
  cursor: pointer;
  padding-left: 14px;
}
