.gd-navigation {
  width: 100%;
  max-width: 44px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.gd-navigation-fixed {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cinza-guide);
}

.gd-navigation-burger-menu {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.gd-menu {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.gd-nav-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}

.gd-nav-group:not(:last-of-type)::after {
  width: 24px;
  height: 1px;
  background-color: var(--verde-guide);
  opacity: 0.2;
  content: "";
}

.gd-nav-link {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
}

.gd-nav-link-active {
  border-right: 1px solid var(--verde-guide);
}
