* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-lato);
  background: linear-gradient(0deg, var(--cinza-fundos), var(--cinza-fundos));
}

label,
input,
button {
  font-family: var(--ff-lato);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-aktiv);
}

a:hover,
a:active,
a:link,
a:visited,
a:focus {
  text-decoration: none;
}
