.gd-stock-marquee {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gd-stock-marquee-container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.gd-stock {
	margin-right: 50px;
}

.gd-stock i {
	margin-left: 10px;
}

.gd-stock-company {
	font-weight: bold;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
	color: var(--cinza-guide);
}
.gd-stock-amount {
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
}
.gd-stock-percent {
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
}

.gd-percent-up {
	color: var(--vermelho-guide);
}
.gd-percent-down {
	color: var(--verde-guide);
}
