#conteudo01HomeEducacional {
    width: 100%;
    height: auto;
    padding: 3% 0;
    background-color: #000;
}

#titulo-playListOrdem {
    width: 95%;
    height: auto;
    padding: 2%;
}

#titulo-playListOrdem h2 {
    color: #FFF;
    font-size: 1.5em;
    font-family:"aktiv-grotesk";
}

#titulo-playListOrdem h5 {
    color: #FFF;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 0;
    font-family:"aktiv-grotesk";
}

@media(max-width: 991px) {
    #titulo-playListOrdem {
        text-align: center;
    }
}
