#conteudoPlayListOrdem {
    width: 98%;
    height: auto;
    padding: 0 1%;
    position: relative;
    z-index: 10;
}

#div-playlistOrdem {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

#playListOrdem {
    width: 220px;
    height: 330px;
    display: flex!important;
    flex-direction: column!important;
    justify-content: flex-end!important;
    align-items: center!important;
    margin: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: relative;
    border-radius: 20px!important;
    position: relative;
    z-index: 150!important;
}

#playListOrdem:hover{
    width: 240px!important;
    cursor: pointer;
    margin: 0 15%;
    position: absolute;
    z-index: 150!important;
    transition: width 0.6s;
    justify-content: flex-end;
}

#div-icons {
    width: 97%!important;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 1%;
}

@media(max-width: 480px) {
    #playListOrdem {
        width: 100%;
    }
    #div-icons {
        width: 90%;
    }
}

#div-icons img {
    margin: 3px 0;
}

#div-identificacao {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

#div-conteudo {
    width: 95%;
    height: auto;
    display: flex!important;
    flex-direction: column!important;
    justify-content: flex-end!important;
    margin-left: 15%;
}

#div-estrela {
    width: auto;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#div-estrela img {
    width: 12px;
    height: 12px;
    /* margin: 0 0.5px!important; */
}

#div-estrela .imgEstrela {
    width: 7px;
    height: 7px;
    /* margin: 0 1px!important; */
}

#botao-serie {
    width: 100px;
    height: 30px;
    padding: 1px 2px;
    margin: 5px 0;
    background-color: rgba(103,109,110, 0.85);
    border-radius: 20px;
    color: #FFF;
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#botao-serie img {
    margin-right: 10px;
}

#div-texto {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#div-texto h4 {
    font-size: 1.1em;
    color: #FFF;
    margin: 5px 0;
    font-family:"aktiv-grotesk";
}

#div-texto h6 {
    font-size: 0.8em;
    color: #FFF;  
    font-weight: 500; 
    font-family: 'Lato', sans-serif; 
}

#div-episodios {
    width: 95%;
    height: 20px;
}

#div-ordem {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding-bottom: 10px;
    position: relative!important;
    z-index: 150!important;  
}

#div-ordem h1 {
    font-size: 8.5em;
    color: #FFF;
    position: relative;
    left: -35px;
    bottom: -18%; 
    font-family:"aktiv-grotesk"; 
    position: relative!important;
    z-index: 150!important;
}

@media(max-width: 480px) {
    #div-ordem h1 {
        font-size: 8em;
        left: -15px;
    }
}



/* Botão do Slide */
.ehkxHv{    
    background-color: transparent!important;
    box-shadow: 0 0 2px 0px transparent!important;
}

.jCKguF {
    position: relative!important;
    z-index: 10!important;
}
