#conteudoPlayListOrdem {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0!important;
    display: flex!important;
    flex-direction: column;
    justify-content: center!important;
    align-items: flex-start;
}

#div-playlistOrdem {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 0!important;
}

#playListOrdem {
    width: 81%;
    height: 320px;
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between!important;
    align-items: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position-x: center;
    position: relative;
    border-radius: 8px!important;
    z-index: 0!important;
}

#playListOrdem:hover{
    width: 84%;
    cursor: pointer;
    margin: 0 4%;
    position: relative;
    z-index: 0!important;
    transition: width 0.6s;
    justify-content: flex-end;
}

.bloqueioVideo {
    width: 100%!important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

#div-icons {
    width: 92%!important;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2%;
}

.cadeado {
    width: 100%!important;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
}

.cadeado img {
    width: 25px;
    height: auto;
}

.cadeado h6 {
    width: 116px;
    margin-left: 10px;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18.4px;
}

.icones {
    width: 8%!important;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.icones img {
    width: 18px;
    height: auto;
    margin-bottom: 10px!important;
}

@media(max-width: 480px) {
    #playListOrdem {
        width: 100%;
    }
    #div-icons {
        width: 90%;
    }
}

#div-icons img {
    margin: 3px 0;
}

#div-identificacao {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

#div-conteudo {
    width: 95%;
    height: auto;
    display: flex!important;
    flex-direction: column!important;
    justify-content: flex-end!important;
    margin-left: 15%;    
}

#div-estrela {
    width: auto;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#div-estrela img {
    width: 10px;
    height: 10px;
    margin: 0 0.5px!important;
}

#div-estrela .imgEstrela {
    width: 10px;
    height: 10px;
    margin: 0 1px!important;
}

#botao-serie {
    width: 100px;
    height: 30px;
    padding: 1px 2px;
    margin: 5px 0;
    background-color: rgba(242, 245, 240, 0.5);
    border-radius: 20px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 14.4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#botao-serie img {
    margin-right: 10px;
}

#div-texto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#div-texto h4 {
    font-size: 18px;
    color: #FFF;
    margin: 5px 0;
    font-family:"aktiv-grotesk-extended";
    font-weight: 700;
    line-height: 20.48px;
}

#div-texto h6 {
    font-size: 14px;
    color: #FFF;  
    font-weight: 400; 
    font-family: 'Lato', sans-serif; 
}

#div-episodios {
    width: 100%;
    height: 20px;
}

#div-ordem {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 10px 0;
    z-index: 0!important;    
    position: relative!important;  
}

#div-ordem h1 {
    font-size: 8.5em;
    color: #FFF;
    position: relative!important;
    top: 41%;
    left: -40px!important;
    bottom: -18%; 
    font-family:"aktiv-grotesk-extended"; 
    z-index: 50!important;
}

@media(max-width: 480px) {
    #div-ordem h1 {
        font-size: 10.2em;
        left: -15px;
    }
}

#conteudoPlayListOrdem .rec-arrow-right {   
    background: linear-gradient( to right,
    rgba(0,0,0, 0) 0%,
    rgba(0,0,0, 0) 0%,
    rgba(0,0,0, 0.9) 100%)!important;
    height: 100%!important;
}

#conteudoPlayListOrdem .rec-arrow-left { 
    background: linear-gradient( to left,
    rgba(0,0,0, 0) 0%,
    rgba(0,0,0, 0) 0%,
    rgba(0,0,0, 0.9) 100%)!important; 
    height: 100%!important;
}

#conteudoPlayListOrdem .rec-arrow[disabled="true"] {
    color: #FFF!important;
}

#conteudoPlayListOrdem .rec-arrow-right[disabled="true"]:hover {      
    color: #FFF!important;  
}

#conteudoPlayListOrdem .rec-arrow-left[disabled="true"]:hover {  
  color: #FFF!important;
}

#conteudoPlayListOrdem .rec-arrow-right:hover {      
  background-color: transparent!important;
}

#conteudoPlayListOrdem .rec-arrow-left:hover {  
  background-color: transparent!important;
}

#conteudoPlayListOrdem .rec  {
    height: 400px!important;
}

