#episodios {
    width: 92%!important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #000;
    padding: 0 4%;
}

.videos-barra2 {
    width: 100%;
    height: 5px;
    margin-top: 0px;
    background-color: #F2F5F0;
    border-radius: 0px!important;
}

.TodosEpisodios {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.TodosEpisodios:hover {
    background-color: #103030;
    cursor: pointer; 
    color: #F2F5F0!important;   
}

.IconsTitulo h5:hover {
    color: #F2F5F0!important;   
}

@media(max-width: 991px) {
    .TodosEpisodios {
        width: 100%!important;
        flex-wrap: wrap;
    }

    #episodios h5 {
        width: 100%!important;
    }
}

#episodios h5 {
    font-size: 22px;
    line-height: 25.6px;
    font-family:"aktiv-grotesk-extended";
    color: #068E87; 
    margin-bottom: 3px!important;
}

.episodios {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

@media(max-width: 991px) {
    .episodios {
        width: 100%!important;
        flex-wrap: wrap;
    }
}

#divEpisodio {
    width: 300px!important;
    height: auto!important;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position-x: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position-x: center!important;
    background-position-y: center!important;
    border-top-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}

@media(max-width: 991px) {
    #divEpisodio {
        width: 100%!important;
        height: auto!important;
    }
}

@media(max-width: 320px) {
    #divEpisodio {
        width: 310.73px!important;
        height: 160px;
    }
}

.iconEpisodio {
    width: 98%;
    height: 30px!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: flex-start!important;
    padding: 5px 5px!important;
}

.IconsDownload {
    width: 140px;
    height:auto!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: center!important;
}

.IconsDownload img, .IconsDownload p {
    display: none!important;
}

@media(max-width: 991px) {
    .IconsDownload {
        display: flex!important;
    }
    .IconsDownload img, .IconsDownload p {
        display: flex!important;
    }
}

.IconsDownload02 {
    width: 150px;
    height:auto!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: center!important;
}

@media(max-width: 991px) {
    .IconsDownload02 {
        display: none!important;
    }
}

.IconsTitulo {
    width: 100%;
    height:auto!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: center!important;
}

.IconsDownload img {
    width: 35px!important;
    height: auto;
    margin: 0 2px;
}

.IconsTitulo img {
    width: 25px!important;
    height: auto;
    margin: 0 5px;
}

.IconsDownload p {
    width: 50px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #F2F5F0;
}

@media(max-width: 991px) {
    .iconEpisodio {
        width: 100%!important;
        height: 150px!important;        
    }
}

.iconEpisodio img {
    width: 18px;
    height: 18px;
    margin: 2%;
    cursor: pointer;
}

.iconBandeira {
    width: 16px!important;
    height: 16px!important;
    margin: 2px;
    cursor: pointer;
}

@media(max-width: 991px) {
    .iconEpisodio img {
        width: 55.81px!important;
    }
    .iconBandeira {
        width: 16px!important;
    }
}

.textoEpisodios {
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2%;
}

@media(max-width: 991px) {
    .textoEpisodios {
        width: 100%!important;
        height: 100%;
    }
}

.textoEpisodios h5 {
    width: 100%!important;
    font-size: 20px;
    font-family:"aktiv-grotesk-extended";
    line-height: 25.6px;
    color: #068E87;
    margin-bottom: 10px;
}

@media(max-width: 768px) {
    .textoEpisodios p {
        font-size: 14px;
    }
    .IconsTitulo h5 {
        font-size: 16px;
    }
    .textoEpisodios {
        width: 100%!important;
        height: 100%;
    }
}

.textoEpisodios p {
    width: 100%!important;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato",sans-serif;
    color: #F2F5F0;
    line-height: 26px;
    margin: 10px 0;
}

.imgCadeado, .imgPlay {
    width: 37px;
    height: auto;
    cursor: pointer;
}

.imgCadeado {
    display: block;
    position: relative;
    top: 20%;
}

.imgPlay {
    display: none;
    position: relative;
}

@media(max-width: 991px) {
    .imgCadeado {
        top: -50px!important;
        display: none;
        width: 100px;
    }
    
    .imgPlay {
        display: block;
        width: 60px;
        top: -30px;
    }
}

.episodioTodosIcons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.iconEpisodioAcoes {
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.textoEpisódio {
    position: relative;
    left: 0%!important;
}
